<div class="twopage">
    <div class="top">
        <div class="space">space</div>
        <div class="right"
        :class="{'animate__animated animate__fadeIn animate__delay-1s':active}">
            企業目標
        </div>
        <div class="left">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-005s':active}">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-1s':active}">
        </div>
        <div class="canvas"
        :class="{'animate__animated animate__fadeIn animate__delay-005s':active}"></div>
    </div>
    <div class="content">
        <img src="/H5/2/img/mainpage.jpg"  alt=""
        :class="{'animate__animated animate__zoomIn animate__delay-005s animate__slow':active}">
        <div class="text"
        :class="{'animate__animated animate__fadeInUp animate__delay-005s':active}">
            引導成功的品牌舵手！
            游向設計的海洋 破開迎來的風浪 成就品牌的閃耀。
            跨越變化莫測的海洋，才能到另一片大陸實踐夢想，
            找到耀眼的寶藏。 為之瘋狂的品牌魅力在於，我們一起經歷的大風大浪與無數波折之後
            ，在成為頂尖品牌的路上，看到的美麗與感動。
        </div>
    </div>
    <div class="bottom">
        <p
        :class="{'animate__animated animate__zoomIn animate__delay-015s animate__slow':active}">
            泳欣設計| YongXin Design
        </p>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-005s animate__slow':active}">
        </div>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active}">
        </div>
    </div>
</div>