<div class="mainpage">
    <div class="img-container">
        <img src="/H5/2/img/Logo.svg" alt=""
        :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active}">
    </div>
    <div class="banner-container">
        <hr :class="{'animate__animated animate__backInUp animate__slow':active}">
        <div class="bg" 
            :class="{'active':mainpage,'animate__animated animate__fadeIn animate__delay-2s ':active }">
        </div>
        <hr :class="{'animate__animated animate__backInDown animate__slow':active}">
    </div>
    <div class="introduction">
        <div class="top">
            <h1 :class="{'animate__animated animate__zoomIn animate__slow animate__delay-1s':active}">企業宣傳冊</h1>
            <span :class="{'animate__animated animate__fadeIn animate__slow animate__delay-2s':active}">
                產品策畫/招商加盟/品牌策畫</span>
            <div class="brochure"
            :class="{'animate__animated animate__fadeIn animate__slower animate__delay-1s':active}">
                <p>COMPANY</p>
                <p>BROCHURE</p>
            </div>
        </div>
        <div class="bottom">
            <p :class="{'animate__animated animate__fadeInUp animate__slower animate__delay-1s':active}">
                https://www.yongxin-design.com/</p>
            <p :class="{'animate__animated animate__fadeInUp animate__slower animate__delay-1s':active}">
                泳欣設計| YongXin Design</p>
        </div>
    </div>
</div>