<div class="tenpage">
    <div class="top">
        <div class="space">space</div>
        <div class="right"
        :class="{'animate__animated animate__fadeIn animate__delay-1s':active}">
            企業文化
        </div>
        <div class="left">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-005s':active}">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-1s':active}">
        </div>
        <div class="canvas"
        :class="{'animate__animated animate__fadeIn animate__delay-005s':active}"></div>
    </div>
    <div class="content">
        <div class="top-container">
            <div class="l-container"
            :class="{'animate__animated animate__fadeInLeft animate__delay-005s':active}">
                <img src="/H5/2/img/fivepage/4.jpg" alt="">
            </div>
            <div class="r-container">
                <img src="/H5/2/img/fivepage/2.jpg" alt=""
                :class="{'animate__animated animate__fadeInRight animate__delay-005s':active}">
                <div class="r-p"
                :class="{'animate__animated animate__zoomIn animate__delay-005s ':active}">
                    <p>辦公室環境舒適、交通便利</p>
                    <p>包含辦公室、會議室</p>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="l-container"
            :class="{'animate__animated animate__fadeInRight animate__delay-005s':active}">
                <img src="/H5/2/img/fivepage/2.jpg" alt="">
            </div>
            <div class="r-container"
            :class="{'animate__animated animate__fadeInLeft animate__delay-005s':active}">
                <img src="/H5/2/img/fivepage/4.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="bottom">
        <p
        :class="{'animate__animated animate__zoomIn animate__delay-015s animate__slow':active}">
            泳欣設計| YongXin Design
        </p>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-005s animate__slow':active}">
        </div>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active}">
        </div>
    </div>
</div>