<div class="tenpage">
    <div class="top">
        <div class="space">space</div>
        <div class="right"
        :class="{'animate__animated animate__fadeIn animate__delay-1s':active}">
            網頁設計
        </div>
        <div class="left">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-005s':active}">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-1s':active}">
        </div>
        <div class="canvas"
        :class="{'animate__animated animate__fadeIn animate__delay-005s':active}"></div>
    </div>
    <div class="content">
        <div class="top-container">
            <div class="l-container"
            :class="{'animate__animated animate__fadeInLeft animate__delay-005s':active}">
                <img src="/H5/2/img/tenpage/三電電能展示_主圖.png" alt="">
            </div>
            <div class="r-container">
                <img src="/H5/2/img/tenpage/belray.png" alt=""
                :class="{'animate__animated animate__fadeInRight animate__delay-005s':active}">
                <div class="r-p"
                :class="{'animate__animated animate__zoomIn animate__delay-005s ':active}">
                    <p>網站洽詢、規劃、視覺設計、前後端程式設計</p>
                    <p>、主機託管、網域申請等，一次到到位的服務。</p>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="l-container"
            :class="{'animate__animated animate__fadeInRight animate__delay-005s':active}">
                <img src="/H5/2/img/tenpage/blackknight.png" alt="">
            </div>
            <div class="r-container"
            :class="{'animate__animated animate__fadeInLeft animate__delay-005s':active}">
                <img src="/H5/2/img/tenpage/bullking.png" alt="">
            </div>
        </div>
    </div>
    <div class="bottom">
        <p
        :class="{'animate__animated animate__zoomIn animate__delay-015s animate__slow':active}">
            泳欣設計| YongXin Design
        </p>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-005s animate__slow':active}">
        </div>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active}">
        </div>
    </div>
</div>