.elevenpage{
    height: 100%;
    position: relative;
    >.top{
        height: 80px;
        position: relative;
        display: flex;
        justify-content: space-between;
        .space{
            color: transparent;
        }
        .right{
            
            line-height: 80px;
            font-size: 24px;
            color: $main-color;
            @media (min-width:768px) {
                font-size: 42px;
            }
        }
        >.left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            hr{
                border: none;
                background-color: $main-color;

            }
            hr:nth-child(1){
                width: 100%;
                height: 1px;

            }
            hr:nth-child(2){
                width: 75%;
                height: 2px;
                margin-right: 0;
            }
        }
        >.canvas{
            left: 0;
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: $main-color;
            transform:translate(-50%,20%) rotate(45deg) ;
        }
    }
    >.content{
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        .container{
            display: flex;
            color: white;
            p{
                text-align: center;
                margin: 0;
                padding: 5px 0;
            }
            p:nth-child(1){
                width: 40%;
            }
            p:nth-child(2){
                width: 20%;
            }
            p:nth-child(3){
                width: 40%;
            }
        }
        .container:nth-child(even){
            color: $main-color;
        }
        .container:nth-child(odd){
            background-color: $main-color;
        }
        .container:nth-child(3){
            background-color: #3d6adba6;
        }
        .container:nth-child(7){
            background-color: #3d6adba6;
        }

        .bottom-container{
            p{
                text-align: center;
                margin: 10px 0;
                font-size: 14px;
            }
        }
    }
    >.bottom{
        width: 100%;
        position: absolute;
        bottom: 0;
        p{
            margin: 0;
            font-size: 3vmin;
            text-align: center;
        }
        .line{
            margin: 5px 0;
            height: 2px;
            background-color: $main-color;
        }
        .line:nth-child(3){
            height: 10px;
        }
    }
}