.twelvepage{
    height: 100%;
    position: relative;
    >.top{
        height: 80px;
        position: relative;
        display: flex;
        justify-content: space-between;
        .space{
            color: transparent;
        }
        .right{
            
            line-height: 80px;
            font-size: 24px;
            color: $main-color;
            @media (min-width:768px) {
                font-size: 42px;
            }
        }
        >.left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            hr{
                border: none;
                background-color: $main-color;

            }
            hr:nth-child(1){
                width: 100%;
                height: 1px;

            }
            hr:nth-child(2){
                width: 75%;
                height: 2px;
                margin-right: 0;
            }
        }
        >.canvas{
            left: 0;
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: $main-color;
            transform:translate(-50%,20%) rotate(45deg) ;
        }
    }
    >.content{
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        .top-container{
            text-align: center;
            .title{
                color: $main-color;
                font-size: 5vmin;
                font-weight: 700;
            }
            p{
                margin-top: 5px;
                @media (max-width:350px) {
                    font-size: 14px;
                }
                @media (min-width:700px) {
                    font-size: 20px;
                }
            }
        }
        .bottom-container{
            .title{
                color: $main-color;
                margin: 20px 0;
                font-size: 4vmin;
                @media (max-width:375px) {
                    margin: 10px 0;
                }
            }
            .content{
                font-size: 4vmin;
                margin: 5px 0;
                @media (min-width:1100px) {
                    font-size: 3vmin;
                }
            }
        }
        >hr{
            border: none;
            height: 1px;
            width: 100%;
            background-color: $main-color;
        }
    }
    >.bottom{
        width: 100%;
        position: absolute;
        bottom: 0;
        p{
            margin: 0;
            font-size: 3vmin;
            text-align: center;
        }
        .line{
            margin: 5px 0;
            height: 2px;
            background-color: $main-color;
        }
        .line:nth-child(3){
            height: 10px;
        }
    }
}