<div class="twelvepage">
    <div class="top">
        <div class="space">space</div>
        <div class="right"
        :class="{'animate__animated animate__fadeIn animate__delay-1s':active}">
            泳欣設計
        </div>
        <div class="left">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-005s':active}">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-1s':active}">
        </div>
        <div class="canvas"
        :class="{'animate__animated animate__fadeIn animate__delay-005s':active}"></div>
    </div>
    <div class="content">
        <div class="top-container">
            <div class="title"
            :class="{'animate__animated animate__zoomIn animate__delay-005s':active}">
                品牌設計 x 數位行銷
            </div>
            <p
            :class="{'animate__animated animate__fadeIn animate__delay-010s':active}">
                從品牌設計、網站架設、行銷規劃與支援<br />為您的品牌提出量身定制的解決方案。
            </p>
        </div>
        <hr :class="{'animate__animated animate__zoomIn animate__delay-005s':active}">
        <div class="bottom-container" v-for =" item in data " :key=" item.index ">
            <div class="title"
            :class="{'animate__animated animate__fadeInLeft animate__delay-005s':active}">
                {{ item.title }}
            </div>
            <div class="content" v-for = "(content, index) in item.content" :key=" content.index"
            :class="{'animate__animated animate__fadeIn animate__delay-012s':active}">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="bottom">
        <p
        :class="{'animate__animated animate__zoomIn animate__delay-015s animate__slow':active}">
            泳欣設計| YongXin Design
        </p>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-005s animate__slow':active}">
        </div>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active}">
        </div>
    </div>
</div>