<div class="fivepage">
    <div class="top">
        <div class="space">space</div>
        <div class="right"
        :class="{'animate__animated animate__fadeIn animate__delay-1s':active}">
            名牌設計
        </div>
        <div class="left">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-005s':active}">
            <hr
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-1s':active}">
        </div>
        <div class="canvas"
        :class="{'animate__animated animate__fadeIn animate__delay-005s':active}"></div>
    </div>
    <div class="content">
        <img class="top-banner" src="/H5/2/img/fivepage/card-1.jpg" alt=""
        :class="{'animate__animated animate__fadeInUp animate__delay-005s animate__slow':active}">
        <p class="top-title"
        :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active }">·VVIP尊龍貴賓卡·</p>
        <div class="bottom-banner">
            <img src="/H5/2/img/fivepage/card-2.jpg" alt=""
            :class="{'animate__animated animate__lightSpeedInRight animate__delay-1s animate__slow':active}">
            <img src="/H5/2/img/fivepage/card-3.jpg" alt=""
            :class="{'animate__animated animate__lightSpeedInLeft animate__delay-1s animate__slow':active}">
        </div>
        <div class="bottom-content">
            <p :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active}">個性名片</p>
            <p :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active}">集點卡設計</p>
        </div>
    </div>
    <div class="bottom">
        <p
        :class="{'animate__animated animate__zoomIn animate__delay-015s animate__slow':active}">
            泳欣設計| YongXin Design
        </p>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-005s animate__slow':active}">
        </div>
        <div class="line"
        :class="{'animate__animated animate__fadeIn animate__delay-1s animate__slow':active}">
        </div>
    </div>
</div>